#content.home-page
  include ../modules/home/hero
  include ../modules/home/category_slider
  include ../modules/home/banner_slider
  include ../modules/home/category_banners
  include ../modules/home/links