doctype html
-var url = "/"
block variables
html(lang="es-ES")
  head
    meta(charset='utf-8')
    meta(name='viewport' ,content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    title Hefesto
    meta(name='description', content="Movistar")
    meta(name='keywords', content="")
    meta(name='author', content="")

    meta(name="theme-color", content="#00385d")

    meta(property='og:title', content="")
    meta(property='og:description', content="")
    meta(property='og:type', content="")
    meta(property='og:url', content="")
    meta(property='og:image', content="")

    meta(http-equiv='Expires', content='0')
    meta(http-equiv='Last-Modified', content='0')
    meta(http-equiv='Cache-Control', content='no-cache, mustrevalidate')
    meta(http-equiv='Pragma', content='no-cache')

    link(rel="stylesheet", href=url+"assets/css/style.css")
  body 
    #app 
      block header 
      block content
      block footer 

    //script(src=url+"assets/js/vendor/vendor.js")
    script(src=url+"assets/js/app.js")