.postComments
  .postComment
    .postComments_avatar
      img(src=url+"assets/images/user_avatar_1.png")
    .postComments_content 
      .postComments_content_info 
        .postComments_content_info_user
          a(href="#") @ricardopedrolini
        .postComments_content_info_date 
          span Hace 6 horas
      p Usé papa amarilla para acompañar y  culantro molido con aceite de oliva
  .postComment
    .postComments_avatar
      img(src=url+"assets/images/user_avatar_2.png")
    .postComments_content 
      .postComments_content_info 
        .postComments_content_info_user
          a(href="#") @o'mamma
        .postComments_content_info_date 
          span Hace un día
      p Remojé los frejoles en agua por 24 horas para que salga cremoso
  .postComment
    .postComments_avatar
      img(src=url+"assets/images/user_avatar_3.png")
    .postComments_content 
      .postComments_content_info 
        .postComments_content_info_user
          a(href="#") @aliceglasstone
        .postComments_content_info_date 
          span Hace 6 horas
      p Usé papa amarilla para acompañar y  culantro molido con aceite de oliva
  .postComment
    .postComments_avatar
      img(src=url+"assets/images/user_avatar_4.png")
    .postComments_content 
      .postComments_content_info 
        .postComments_content_info_user
          a(href="#") @iyuhhuhu
        .postComments_content_info_date 
          span Hace 2 días
      p Usé papa amarilla para acompañar y  culantro molido con aceite de oliva