.postRecipt
  h3 Lomo Saltado 
  h4 Plato de fondo
  .postRecipt_content 
    h5 Ingredientes
    ul
      li ¾ de carne en trozos
      li 1 cebolla picada
      li 1 tomate chico
      li 1 cucharadita de pimienta
      li 1 cucharadita de cominos
      li 1 cucharadita de ajos molidos
      li 1 cucharadita de palillo
      li ½ taza de culantro molido
      li ¼ de taza de arvejas cocidas
      li 1/8 de chicha fuerte de jora (opcional)
      li ½ taza de arvejas cocidas
      li 3 cucharadas de ají mirasol molido
      li 4 papas partidas o más
    h5 Receta para 4 personas
    em PASO 1
    p En una olla poner aceite, freír la cebolla, el ajo, la pimienta, el comino, el palillo, el ají mirasol y el cilantro.
    em PASO 2
    p Cuando esté bien frito el aderezo, añadir la carne y combinar. Una vez mezclado, echar la chicha y mover todo.
    em PASO 3
    p Luego, añadir agua cubriendo la carne y las papas. Agregar la sal y esperar que esté lista la carne y las papas. Después, servir con arroz blanco e incorporar las alverjas (ya cocidas) al último.
