.category_slider
  .category_slider_item 
    a(href+url="#")
      .category_slider_item_img
        img(src=url+"assets/images/img1.png")
      .category_slider_item_text Receta del día
  .category_slider_item 
    a(href+url="#")
      .category_slider_item_img
        img(src=url+"assets/images/img2.png")
      .category_slider_item_text Recetas populares
  .category_slider_item 
    a(href+url="#")
      .category_slider_item_img
        img(src=url+"assets/images/img3.png")
      .category_slider_item_text Más votada en la semana