.Doscol
  .category_banner
    a(href+url="") 
      .category_banner_img
        img(src=url+"assets/images/img4.png")
      .category_banner_text Comida saludable
  .category_banner
    a(href+url="") 
      .category_banner_img
        img(src=url+"assets/images/img5.png")
      .category_banner_text Cócteles