.hero 
  .hero-statement 
    .hero-statement-content 
      h1 Proin sapien risus, luctus ut enim ac, pretium bibendum urna.
      p Praesent sed mattis libero. Donec nec gravida nulla. Quisque quis elementum lacus. Vestibulum eget lorem quis tortor facilisis finibus. Proin ac pharetra ex.
  .hero-image 
    img(src=url+"assets/images/hero.png")
    .hero-image-shadow