.Doscol
  .apps_links
    .apps_links_content
      h3 
      p 
      a(href+url="") 
        img(src=url+"assets/images/ico_appstore.png")
      a(href+url="") 
        img(src=url+"assets/images/ico_googleplay.png")
  .newsletter_form
    .newsletter_form_content
      h3 Luctus ut enim ac, pretium bibendum urna.
      p Donec nec gravida nulla. Vestibulum eget lorem quis tortor facilisis finibus. Proin ac pharetra ex.
      form(action="") 
        input(type="text", placeholder="Déjanos tu correo electrónico...")
        button Suscribirme